---
import { info } from "@data";
---

<footer
  class="container flex sm:flex-row flex-col justify-between items-center mb-8 sm:mb-4"
>
  <p class="dark:text-light text-right my-8">
    &copy; Copyrights 2023 <strong>elian-dev</strong>
  </p>
  <div class="grid grid-cols-5 gap-4">
    <a
      aria-label="Social Media"
      href={info.socialMedia.github}
      target="_blank"
      class="footer-icons"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-github"
        ><path
          d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
        ></path>
      </svg>
    </a>
    <a
      aria-label="Social Media"
      href={info.socialMedia.figma}
      target="_blank"
      class="footer-icons"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
      <path d="M10 1.66666H7.2225C6.48575 1.66666 5.77917 1.95934 5.25821 2.4803C4.73725 3.00126 4.44458 3.70783 4.44458 4.44458C4.44458 5.18133 4.73725 5.8879 5.25821 6.40886C5.77917 6.92983 6.48575 7.2225 7.2225 7.2225H10V1.66666Z" stroke="white" stroke-width="1.125"/>
      <path d="M10 7.22166H7.2225C6.48575 7.22166 5.77917 7.51434 5.25821 8.0353C4.73725 8.55626 4.44458 9.26283 4.44458 9.99958C4.44458 10.7363 4.73725 11.4429 5.25821 11.9639C5.77917 12.4848 6.48575 12.7775 7.2225 12.7775H10V7.22166Z" stroke="white" stroke-width="1.125"/>
      <path d="M15.5558 10C15.5558 10.7367 15.2631 11.4433 14.7421 11.9643C14.2212 12.4852 13.5146 12.7779 12.7779 12.7779C12.0411 12.7779 11.3345 12.4852 10.8136 11.9643C10.2926 11.4433 9.99995 10.7367 9.99995 10C9.99995 9.26325 10.2926 8.55668 10.8136 8.03572C11.3345 7.51476 12.0411 7.22208 12.7779 7.22208C13.5146 7.22208 14.2212 7.51476 14.7421 8.03572C15.2631 8.55668 15.5558 9.26325 15.5558 10ZM7.22245 12.7783H9.99995V15.5558C9.99978 16.1051 9.83674 16.6421 9.53145 17.0987C9.22615 17.5554 8.79231 17.9112 8.28477 18.1213C7.77724 18.3314 7.2188 18.3863 6.68007 18.279C6.14135 18.1718 5.64652 17.9072 5.25816 17.5187C4.86981 17.1302 4.60536 16.6353 4.49826 16.0966C4.39115 15.5578 4.4462 14.9994 4.65645 14.4919C4.8667 13.9844 5.2227 13.5507 5.67944 13.2455C6.13618 12.9404 6.67315 12.7783 7.22245 12.7783Z" stroke="white" stroke-width="1.125"/>
      <path d="M10 1.66666H12.7775C13.5142 1.66666 14.2208 1.95934 14.7418 2.4803C15.2627 3.00126 15.5554 3.70783 15.5554 4.44458C15.5554 5.18133 15.2627 5.8879 14.7418 6.40886C14.2208 6.92983 13.5142 7.2225 12.7775 7.2225H10V1.66666Z" stroke="white" stroke-width="1.125"/>
    </svg>
    </a>
    <a
      aria-label="Social Media"
      href={info.socialMedia.linkedin}
      target="_blank"
      class="footer-icons"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-linkedin"
        ><path
          d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
        ></path><rect x="2" y="9" width="4" height="12"></rect><circle
          cx="4"
          cy="4"
          r="2"></circle>
      </svg>
    </a>
    <a
      aria-label="Social Media"
      href={info.socialMedia.email}
      target="_blank"
      class="footer-icons"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-mail"
        ><path
          d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
        ></path><polyline points="22,6 12,13 2,6"></polyline>
      </svg>
    </a>
    <a
      aria-label="Social Media"
      href={info.socialMedia.instagram}
      target="_blank"
      class="footer-icons"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path d="M13.3333 5.83333C13.3333 5.61232 13.4211 5.40036 13.5774 5.24408C13.7337 5.0878 13.9457 5 14.1667 5C14.3877 5 14.5997 5.0878 14.7559 5.24408C14.9122 5.40036 15 5.61232 15 5.83333C15 6.05435 14.9122 6.26631 14.7559 6.42259C14.5997 6.57887 14.3877 6.66667 14.1667 6.66667C13.9457 6.66667 13.7337 6.57887 13.5774 6.42259C13.4211 6.26631 13.3333 6.05435 13.3333 5.83333Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.99999 6.04166C8.95017 6.04166 7.94336 6.4587 7.20103 7.20103C6.45869 7.94336 6.04166 8.95018 6.04166 10C6.04166 11.0498 6.45869 12.0566 7.20103 12.799C7.94336 13.5413 8.95017 13.9583 9.99999 13.9583C11.0498 13.9583 12.0566 13.5413 12.799 12.799C13.5413 12.0566 13.9583 11.0498 13.9583 10C13.9583 8.95018 13.5413 7.94336 12.799 7.20103C12.0566 6.4587 11.0498 6.04166 9.99999 6.04166ZM7.29166 10C7.29166 9.2817 7.577 8.59283 8.08491 8.08492C8.59282 7.57701 9.2817 7.29166 9.99999 7.29166C10.7183 7.29166 11.4072 7.57701 11.9151 8.08492C12.423 8.59283 12.7083 9.2817 12.7083 10C12.7083 10.7183 12.423 11.4072 11.9151 11.9151C11.4072 12.423 10.7183 12.7083 9.99999 12.7083C9.2817 12.7083 8.59282 12.423 8.08491 11.9151C7.577 11.4072 7.29166 10.7183 7.29166 10Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.3817 2.36083C11.4695 2.038 8.53053 2.038 5.61834 2.36083C3.94167 2.54833 2.58751 3.86917 2.39084 5.55417C2.04534 8.50799 2.04534 11.492 2.39084 14.4458C2.58751 16.1308 3.94084 17.4517 5.61834 17.6392C8.53055 17.9617 11.4695 17.9617 14.3817 17.6392C16.0583 17.4517 17.4125 16.1308 17.6092 14.4458C17.9547 11.492 17.9547 8.50798 17.6092 5.55417C17.4125 3.86917 16.0592 2.54833 14.3817 2.36083ZM5.75667 3.6025C8.57693 3.28989 11.4231 3.28989 14.2433 3.6025C15.3517 3.7275 16.2392 4.60167 16.3683 5.7C16.7025 8.55693 16.7025 11.4431 16.3683 14.3C16.3015 14.8375 16.0555 15.3369 15.6699 15.7173C15.2843 16.0977 14.7817 16.3371 14.2433 16.3967C11.4231 16.7093 8.57692 16.7093 5.75667 16.3967C5.21829 16.3371 4.71572 16.0977 4.33013 15.7173C3.94455 15.3369 3.69848 14.8375 3.63167 14.3C3.29755 11.4431 3.29755 8.55693 3.63167 5.7C3.69848 5.16247 3.94455 4.66315 4.33013 4.28271C4.71572 3.90227 5.21829 3.66209 5.75667 3.6025Z" fill="white"/>
      </svg>
    </a>
  </div>
</footer>
