---
import { info } from "@data";
---

<footer
  id="contact"
  class="container flex sm:flex-row flex-col justify-between items-center mb-8 sm:mb-4"
>
  <p class="dark:text-light text-right my-8">
    &copy; Copyrights 2023 <strong>elian-dev</strong>
  </p>
  <div class="grid grid-cols-5 gap-4">
    <a
      aria-label="Social Media"
      href={info.socialMedia.github}
      target="_blank"
      class="footer-icons"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-github"
        ><path
          d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
        ></path>
      </svg>
    </a>
    <a
      aria-label="Social Media"
      href={info.socialMedia.figma}
      target="_blank"
      class="footer-icons"
    >
    <svg 
      xmlns="http://www.w3.org/2000/svg" 
      width="20" 
      height="20" 
      viewBox="0 0 20 20" 
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-github"
      >
        <path d="M10 1.66666H7.2225C6.48575 1.66666 5.77917 1.95934 5.25821 2.4803C4.73725 3.00126 4.44458 3.70783 4.44458 4.44458C4.44458 5.18133 4.73725 5.8879 5.25821 6.40886C5.77917 6.92983 6.48575 7.2225 7.2225 7.2225H10V1.66666Z" stroke-width="1.125"/>
        <path d="M10 7.22166H7.2225C6.48575 7.22166 5.77917 7.51434 5.25821 8.0353C4.73725 8.55626 4.44458 9.26283 4.44458 9.99958C4.44458 10.7363 4.73725 11.4429 5.25821 11.9639C5.77917 12.4848 6.48575 12.7775 7.2225 12.7775H10V7.22166Z" stroke-width="1.125"/>
        <path d="M15.5558 10C15.5558 10.7367 15.2631 11.4433 14.7421 11.9643C14.2212 12.4852 13.5146 12.7779 12.7779 12.7779C12.0411 12.7779 11.3345 12.4852 10.8136 11.9643C10.2926 11.4433 9.99995 10.7367 9.99995 10C9.99995 9.26325 10.2926 8.55668 10.8136 8.03572C11.3345 7.51476 12.0411 7.22208 12.7779 7.22208C13.5146 7.22208 14.2212 7.51476 14.7421 8.03572C15.2631 8.55668 15.5558 9.26325 15.5558 10ZM7.22245 12.7783H9.99995V15.5558C9.99978 16.1051 9.83674 16.6421 9.53145 17.0987C9.22615 17.5554 8.79231 17.9112 8.28477 18.1213C7.77724 18.3314 7.2188 18.3863 6.68007 18.279C6.14135 18.1718 5.64652 17.9072 5.25816 17.5187C4.86981 17.1302 4.60536 16.6353 4.49826 16.0966C4.39115 15.5578 4.4462 14.9994 4.65645 14.4919C4.8667 13.9844 5.2227 13.5507 5.67944 13.2455C6.13618 12.9404 6.67315 12.7783 7.22245 12.7783Z" stroke-width="1.125"/>
        <path d="M10 1.66666H12.7775C13.5142 1.66666 14.2208 1.95934 14.7418 2.4803C15.2627 3.00126 15.5554 3.70783 15.5554 4.44458C15.5554 5.18133 15.2627 5.8879 14.7418 6.40886C14.2208 6.92983 13.5142 7.2225 12.7775 7.2225H10V1.66666Z" stroke-width="1.125"/>
    </svg>
    </a>
    <a
      aria-label="Social Media"
      href={info.socialMedia.linkedin}
      target="_blank"
      class="footer-icons"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-linkedin"
        ><path
          d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
        ></path><rect x="2" y="9" width="4" height="12"></rect><circle
          cx="4"
          cy="4"
          r="2"></circle>
      </svg>
    </a>
    <a
      aria-label="Social Media"
      href={info.socialMedia.email}
      target="_blank"
      class="footer-icons"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-mail"
        ><path
          d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
        ></path><polyline points="22,6 12,13 2,6"></polyline>
      </svg>
    </a>
    <a
      aria-label="Social Media"
      href={info.socialMedia.instagram}
      target="_blank"
      class="footer-icons"
    >
    <svg 
      xmlns="http://www.w3.org/2000/svg" 
      width="22"  
      height="22" 
      viewBox="0 0 20 20" 
      fill="none"
      stroke="currentColor"
      stroke-width=".5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-github"
    >
      <path d="M15.3642 17.4475H4.63582C4.08329 17.4475 3.55339 17.228 3.16268 16.8373C2.77198 16.4466 2.55249 15.9167 2.55249 15.3642V4.63584C2.55249 4.0833 2.77198 3.5534 3.16268 3.1627C3.55339 2.772 4.08329 2.5525 4.63582 2.5525H15.3642C15.9167 2.5525 16.4466 2.772 16.8373 3.1627C17.228 3.5534 17.4475 4.0833 17.4475 4.63584V15.3642C17.4475 15.9167 17.228 16.4466 16.8373 16.8373C16.4466 17.228 15.9167 17.4475 15.3642 17.4475ZM4.63582 3.38584C4.3043 3.38584 3.98636 3.51753 3.75194 3.75195C3.51752 3.98637 3.38582 4.30431 3.38582 4.63584V15.3642C3.38582 15.6957 3.51752 16.0136 3.75194 16.2481C3.98636 16.4825 4.3043 16.6142 4.63582 16.6142H15.3642C15.6957 16.6142 16.0136 16.4825 16.248 16.2481C16.4825 16.0136 16.6142 15.6957 16.6142 15.3642V4.63584C16.6142 4.30431 16.4825 3.98637 16.248 3.75195C16.0136 3.51753 15.6957 3.38584 15.3642 3.38584H4.63582Z" fill="white" stroke-width=".8"/>
      <path d="M9.99999 13.8283C9.24279 13.8275 8.50284 13.6022 7.87367 13.1809C7.2445 12.7596 6.75435 12.1613 6.46519 11.4614C6.17604 10.7616 6.10085 9.99181 6.24914 9.24928C6.39742 8.50674 6.76253 7.82484 7.29829 7.28977C7.83406 6.75471 8.51644 6.39049 9.25916 6.24317C10.0019 6.09586 10.7716 6.17205 11.4711 6.46212C12.1705 6.75219 12.7682 7.24312 13.1887 7.87284C13.6092 8.50256 13.8335 9.24281 13.8333 10C13.832 11.0158 13.4275 11.9895 12.7088 12.7073C11.9901 13.4252 11.0158 13.8283 9.99999 13.8283ZM9.99999 7C9.40782 7.00083 8.82919 7.17712 8.33716 7.50663C7.84514 7.83613 7.4618 8.30406 7.23557 8.8513C7.00934 9.39855 6.95037 10.0006 7.06609 10.5813C7.18182 11.1621 7.46706 11.6955 7.88578 12.1142C8.30451 12.5329 8.83793 12.8182 9.41868 12.9339C9.99942 13.0496 10.6014 12.9906 11.1487 12.7644C11.6959 12.5382 12.1639 12.1549 12.4934 11.6628C12.8229 11.1708 12.9992 10.5922 13 10C13 9.20435 12.6839 8.44129 12.1213 7.87868C11.5587 7.31607 10.7956 7 9.99999 7Z" fill="white" stroke-width=".8"/>
      <path d="M14.3333 6.5875C14.8281 6.5875 15.2292 6.18642 15.2292 5.69167C15.2292 5.19691 14.8281 4.79583 14.3333 4.79583C13.8386 4.79583 13.4375 5.19691 13.4375 5.69167C13.4375 6.18642 13.8386 6.5875 14.3333 6.5875Z" fill="white" stroke-width=".8">
    </svg>
    </a>
  </div>
</footer>
